{% extends "layout.html" %}
{% block content %}
<!-- ABOUT -->
<div class="content-section">
    <h3 class="border-bottom mb-4">ABOUT</h3>

    <h4>What is Smart Notebook?</h4>
    <p>
        Smart Notebook is a web application that provides an intuitive way to create and access notes. In addition, it
        comes with a built-in translator to translate notes, written in any language, into French. It also
        allows users to perform complex mathematical calculations. Smart Notebook follows all-in-one app philosophy to
        maximize user productivity.
    </p>
</div>
{% endblock content %}
